
#Alternate default index pages
DirectoryIndex dashboard.php


RewriteEngine on

RewriteRule ^(dashboard|users|categories|brands|customs|suppliers|purchases|add_purchase|sales|add_sale)$ $1.php [NC,L]
